* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', light;
  /* font-size: 24px; */
}

a {
  text-decoration: none;
}

body {
  background: url(/img/back.webp)    

}

.container {
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;  
}

h1 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

strong {
  font-size: 24px;
  text-align: center;
}
